@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,800;1,300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Rubik','san-serif';
}
a{
  text-decoration: none;
}
.App {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 100vh;
}
.container{
  max-width: 1440px;
  margin: auto;
}
.hidden{
  display: none;
}
.opac{
  opacity: 1;
}
.opacnone{
  opacity: 0;
}
/* HEADER */
.header{
  width: 100%;
  /* background-color: #136793; */
  background-color: #1E3441;
  /* margin-bottom: 15px; */
}
.header-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  font-size: 20px;
}
.header-items__left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items__right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items___link{
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  color: white;
}
.header-items___link:hover{
  border-bottom: 1px solid rgb(22, 38, 43);
}
.header-items___link a{
  /* color: rgb(22, 38, 43); */
  color: white;
}
@media(max-width:1440px){
  .header-items{
    padding: 15px 30px;
  }
}
/* CONTENT */
/* .content-wrapper{
  display: ;
} */

/* Main Page */

  /* Banner */
  .main-banner__container{
    width: 100%;
  }
  .main-banner {
      display: flex;
      height: 600px;
      margin: 0 auto;
  }
  .main-banner__img {
      width: 100%;
      height: 600px;
  }
  .main-banner__img img {
      max-width: none;
      max-height: none;
      width: 100%;
      height: 100%;
      font-family: "object-fit:cover";
      -o-object-fit: cover;
      object-fit: cover;
  }
  /* Marks */
  .main-marks-wrap{
    padding: 20px 0px;
  }
  .main-marks__title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .main-marks__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .main-marks__list_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    margin: 0px 10px;
    transition: 0.5s;
    cursor: pointer;
  }
  .main-marks__list_item:hover{
    border: 1px solid #8a8787;
    box-shadow: 0px 0px 15px 0px #8a8787;
  }
  .main-marks__list_item-text{
    font-weight: 600;
  }
  .main-marks__list_item-img{
    width: 180px;
    height: 180px;
  }
  .main-marks__list_item-img img{
    width: 100%;
    height: 100%;
  }
  /* Disks */
  .main-disks{
    background-color: #b0becb;
  }
  .main-disks-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
  }
  .main-disks__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .main-disks__title-top {
    font-size: 32px;
    font-weight: 600;
    color: #16262B;
  }
  .main-disks__title-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .main-disks__title-link span{
    font-weight: bold;
    color: #16262B;
    margin-right: 10px;
  }
  .main-disks__title-link img{
    width: 15px;
    height: 15px;
  }
  .main-disks__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-disks__list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
  }
  .main-disks__list_item-img{
    width: 150px;
    height: 150px;
  }
  .main-disks__list_item-img img{
    width: 100%;
    height: 100%;
  }
  /* BRANDS */
  .main-brands{
    background-color: white;
  }
  .main-brands-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
  }
  .main-brands__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .main-disks__title-top {
    font-size: 32px;
    font-weight: bold;
  }
  .main-disks__title-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .main-brands__title-link span{
    font-weight: bold;
    color: black;
    margin-right: 10px;
  }
  .main-brands__title-link img{
    width: 15px;
    height: 15px;
  }
  .main-brands__list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-brands__list_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
  }
  .main-brands__list_item-img{
    width: 200px;
    height: 150px;
  }
  .main-brands__list_item-img img{
    width: 100%;
    height: 100%;
  }

/* CATALOG PAGE */
.catalog-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  position: relative;
}
/* .catalog-filter{
  background-color: white;
} */
.catalog-filter__mobile{
  display: none;
  justify-content: flex-start;
  padding: 0px 15px;
  width: 100%;
}
.filter-show{
  display: block !important;
}
.catalog-filter__mobile_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0b3d58;
  background-color: #0b3d58;
  border-radius: 5px;
  color: white;
  width: 150px;
  padding: 10px 20px;
  transition: 0.5s;
}
.mobile-filter-button{
  margin-right: 15px;
}
.catalog-filter__mobile_btn.mobclick{
  background-color: #fff;
  color: #0b3d58;
}
.mobile-button_img{
  width: 30px;
  height: 30px;
}
.mobile-button_img img{
  width: 100%;
  height: 100%;
}
.catalog-filter__list{
  width: 300px;
  background-color: white;
  z-index: 10;
}
.catalog-filter__list-section_title{
  text-align: center;
  padding: 10px 0px;
  border: 1px solid #D8E1E4;
  font-weight: 600;
}

.catalog-filter__list_item{
  border: 1px solid #D8E1E4;
  padding: 15px;
  cursor: pointer;
  position: relative;
}
.catalog-filter-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.catalog-filter-name img{
  width: 10px;
  height: 10px;
}
.arrow-scale{
  transform: scaleY(-1);
}
.catalog-filter-values__wrap{
  position: relative;
}
.catalog-filter-values__select{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #D8E1E4;
  cursor: pointer;
}
.catalog-filter-values__select img{
  width: 10px;
  height: 10px;
}
/* .catalog-filter-values{
  display: none;
} */
.catalog-param-filter-values__list{
  transition: 1s;
}
.catalog-filter-auto-values__list{
  border: 1px solid #D8E1E4;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 10;
  transition: 0.5s;
}
.catalog-filter-values__item{
  padding: 7px 15px;
  cursor: pointer;
}
.catalog-filter-values__item:hover{
  color: #0b3d58;
  font-weight: 600;
}
.catalog-filter__list-section_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 10px 0px;
  border: 1px solid #D8E1E4;
}
.filter-btn{
  color: white;
  padding: 12px 20px;
  text-align: center;
  width: 90%;
  background-color: #136793;
  cursor: pointer;
}
.filter-btn:hover{
  background-color: #0b3d58;
}

.catalog-section{
  width: 100%;
}
.catalog-disks__title{
  margin-left: 22px;
}
.catalog-disks__list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.catalog-disks__list_item{
  /* max-width: 290px; */
  width: calc(25% - 22px);
  margin-left: 22px;
  margin-bottom: 22px;
  border: 1px solid #D8E1E4;
  border-radius: 7px;
  padding: 15px;
}
.catalog-disks__list_item-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.catalog-disks__list_item-img{
  width: 170px;
  height: 170px;
}
.catalog-disks__list_item-img img{
  width: 100%;
  height: 100%;
}
.catalog-filer__overlay{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(19, 103, 147, .5);
  z-index: 4;
}
@media (max-width: 1439px){
  .catalog-disks__list{
    padding-right: 22px;
  }
  .catalog-disks__list_item  {
    width: calc(33.33% - 22px);
  }
}
@media (max-width: 1024px){
  .catalog-wrapper{
    flex-direction: column;
  }
  .constructor-wrapper-auto {
    flex-direction: column;
  }
  .catalog-filter{
    position: absolute;
    width: 100%;
    /* background-color: rgba(19, 103, 147, 0.5); */
    height: 100vh;
    top: -70px;
    display: none;
  }
  .catalog-filer__overlay{
    display: block;
  }
  .catalog-filter__list {
    position: absolute;
    right: 0px;
  }
  .catalog-filter__mobile{
    display: flex;
  }
  .catalog-disks__list{
    padding-right: 10px;
    padding-left: 10px;
  }
  .catalog-disks__list_item {
    width: calc(33.3% - 10px);
    margin: 5px;
  }
}

/* @media (max-width: 900px){
  .catalog-wrapper{
    flex-direction: column;
  }
  .catalog-filter{
    width: 100%;
  }
  .catalog-filter__list{
    width: 100%;
  }
} */
@media (max-width: 767px){
  .catalog-disks__list{
    justify-content: center;
  }
  .catalog-disks__list_item {
    width: calc(50% - 22px);
  }
}@media (max-width: 550px){
  .catalog-disks__list{
    flex-direction: column;
  }
  .catalog-disks__list_item {
    max-width: 300px;
    width: 100%;
  }
}
.catalog-item__param{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
.catalog-disks__list_item-price{
  margin-top: 10px;
  text-align: end;
}
/* .catalog-disks__list_item-bottom{

} */

/* CONSTRUCTOR */
.constructor-wrapper{
  margin-top: 15px;
  position: relative;
}
.constructor-wrapper-auto {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.constr-filter{
  width: 300px;
}
.constr-pic {
  border: 1px solid #D8E1E4;
}
.constr-pic__wrap{

}
.constr-pic__fon{
  position: relative;
}
.constr-pic__fon_img{
  position: relative;
}
.constr-pic__fon_img{

}
.constr-img-auto{
  width: 100%;
}
.constr-img-auto img{
  width: 100%;
  height: 100%;
}
@media(max-width:1279px){
  .constr-pic{
    margin: 15px;
  }
  .constr-section{
    padding: 5px;
  }
}
.constr-img-disk{
  position: absolute;
}
.disk-left{
  /* left: 21.3%; */
  bottom: 5.8%;
}
.disk-right{
  /* left: 66.5%; */
  bottom: 5.8%;
}
.constr-img-disk{
  max-width: 8%;
}
.constr-img-disk img{
  width: 100%;
  height: 100%;
}
.constr-pic__fon_info{
  position: absolute;
  right: 15px;
  top: 15px;
}

.constr-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.constr-disks__list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.constr-disks__list_item {
  width: calc(20% - 20px);
  /* max-width: 290px; */
  margin: 10px;
  border: 1px solid #D8E1E4;
  border-radius: 7px;
  padding: 15px;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 1439px) {
  .constr-disks__list_item{
    width: calc(25% - 20px);
  }
}
@media (max-width: 1023px) {
  .constr-disks__list_item{
    width: calc(33.3% - 20px);
  }
}
@media (max-width: 767px){
  .constr-disks__list{
    justify-content: center;
  }
  .constr-disks__list_item {
    width: calc(50% - 22px);
  }
}@media (max-width: 550px){
  .constr-disks__list{
    flex-direction: column;
  }
  .constr-disks__list_item {
    margin: 0px 0px 10px 0px;
    max-width: 300px;
    width: 100%;
  }
}
.constr-disks__list_item:hover {
  border: 1px solid #377b92;
}
.constr-disks__list_item-top{
  text-align: center;
}
/* FOOTER */
.footer{
  width: 100%;
}
.footer-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
